openapi: 3.0.3
info:
  title: Spoved App 
  version: 1.0.0
  description: OpenAPI spec for all the microservices exposing endpoints. Schemas are also included.
  servers: 
  - url: 'https://team-spoved.student.k8s.aet.cit.tum.de'

paths:
  # --- Auth Service Paths ---
  /auth/register:
    post:
      summary: Register a new user
      description: Registers a new user with a username, password, and role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '200':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: string
        '400':
          description: User already exists or invalid input
  /auth/login:
    post:
      summary: User login
      description: Authenticates a user and returns a JWT token if successful.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful, returns JWT token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '401':
          description: Unauthorized (invalid credentials)

  # --- Media Service Paths ---
  /media/{mediaId}:
    get:
      summary: Get media analysis data
      description: Retrieve analysis data for a specific media item by ID.
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Media analysis data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAnalysis'
        '404':
          description: Media not found
  /media/{mediaId}/analyzed:
    put:
      summary: Update analyzed status
      description: Mark a media item as analyzed or not.
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                analyzed:
                  type: boolean
      responses:
        '200':
          description: Analyzed status updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAnalysis'
        '404':
          description: Media not found
  /media/{mediaId}/result:
    put:
      summary: Update analysis result
      description: Update the AI-generated result for a media item.
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                result:
                  type: string
      responses:
        '200':
          description: Analysis result updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAnalysis'
        '404':
          description: Media not found
  /media/{mediaId}/reason:
    put:
      summary: Update analysis reason
      description: Update the reason for the analysis result of a media item.
      parameters:
        - in: path
          name: mediaId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
      responses:
        '200':
          description: Analysis reason updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaAnalysis'
        '404':
          description: Media not found

  # --- Ticket Service Paths ---
  /tickets:
    get:
      summary: Get filtered tickets
      description: Retrieve tickets filtered by assignedToId, createdById, status, dueDate, location, or mediaType.
      parameters:
        - in: query
          name: assignedToId
          schema:
            type: integer
        - in: query
          name: createdById
          schema:
            type: integer
        - in: query
          name: status
          schema:
            type: string
            enum: [OPEN, IN_PROGRESS, FINISHED]
        - in: query
          name: dueDate
          schema:
            type: string
            format: date
        - in: query
          name: location
          schema:
            type: string
        - in: query
          name: mediaType
          schema:
            type: string
            enum: [PHOTO, VIDEO, AUDIO]
      responses:
        '200':
          description: List of tickets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ticket'
    post:
      summary: Create a new ticket
      description: Create a new service ticket.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTicketRequest'
      responses:
        '200':
          description: Ticket created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
        '400':
          description: Invalid input
  /tickets/{ticketId}:
    get:
      summary: Get ticket by ID
      description: Retrieve a ticket by its unique ID.
      parameters:
        - in: path
          name: ticketId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Ticket found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
        '404':
          description: Ticket not found
    put:
      summary: Update ticket status
      description: Update the status of a ticket.
      parameters:
        - in: path
          name: ticketId
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [OPEN, IN_PROGRESS, FINISHED]
      responses:
        '200':
          description: Ticket updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
        '400':
          description: Invalid input
        '404':
          description: Ticket not found

  # --- User Service Paths ---
  /users/{userId}:
    get:
      summary: Get user by ID
      description: Retrieve a user by their unique ID.
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: User found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: User not found
  /users:
    get:
      summary: Get filtered users
      description: Retrieve users filtered by ID, role, or name.
      parameters:
        - in: query
          name: id
          schema:
            type: integer
        - in: query
          name: role
          schema:
            type: string
            enum: [SUPERVISOR, WORKER]
        - in: query
          name: name
          schema:
            type: string
      responses:
        '200':
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'

  # --- GenAI Service Paths ---
  /speech-to-text:
    post:
      summary: Convert speech audio to text
      description: Converts uploaded audio (WAV or WebM) to text using Google Cloud Speech-to-Text.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                audio:
                  type: string
                  format: binary
                  description: Audio file to transcribe (WAV or WebM)
      responses:
        '200':
          description: Successful transcription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechToTextResponse'
        '400':
          description: Invalid audio or no speech detected
        '500':
          description: Internal server error
  /query-ai:
    post:
      summary: Query Gemini AI for conversational response
      description: Generates a conversational response based on user input and conversation history.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryAIRequest'
      responses:
        '200':
          description: AI response generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryAIResponse'
        '500':
          description: Internal server error
  /text-to-speech:
    post:
      summary: Convert text to speech
      description: Converts input text to speech audio using Google Cloud Text-to-Speech.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TextToSpeechRequest'
      responses:
        '200':
          description: Audio file generated
          content:
            audio/wav:
              schema:
                type: string
                format: binary
        '500':
          description: Internal server error

components:
  schemas:
    # --- Auth Schemas ---
    RegisterRequest:
      type: object
      properties:
        name:
          type: string
        password:
          type: string
        role:
          type: string
          enum: [SUPERVISOR, WORKER]
    LoginRequest:
      type: object
      properties:
        name:
          type: string
        password:
          type: string
    # --- Media Schemas ---
    MediaAnalysis:
      type: object
      properties:
        mediaId:
          type: integer
        analyzed:
          type: boolean
        result:
          type: string
        reason:
          type: string
        url:
          type: string
          description: URL to the media file
    # --- Ticket Schemas ---
    Ticket:
      type: object
      properties:
        ticketId:
          type: integer
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [OPEN, IN_PROGRESS, FINISHED]
        dueDate:
          type: string
          format: date
        location:
          type: string
        mediaType:
          type: string
          enum: [PHOTO, VIDEO, AUDIO]
        createdBy:
          type: integer
        assignedTo:
          type: integer
        mediaId:
          type: integer
    CreateTicketRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [OPEN, IN_PROGRESS, FINISHED]
        dueDate:
          type: string
          format: date
        location:
          type: string
        mediaType:
          type: string
          enum: [PHOTO, VIDEO, AUDIO]
        createdBy:
          type: integer
        assignedTo:
          type: integer
        mediaId:
          type: integer
    # --- User Schemas ---
    User:
      type: object
      properties:
        userId: